.Hoverbar {
  display: none;
  position: absolute;
  background-color: rgb(88, 58, 194);
  width: 15%;
  /* height: 100%; */
  top: 100%;
  
  
  /* overflow: hidden; */
  /* height: 120px; */
  z-index: 1;
}

.Hoverbar li:hover {
  background-color: crimson;

}
.Hoverbar li {
  /* color: crimson; */
  border-bottom: 2px solid cyan;
  padding-top: 7px;
  padding-bottom: 7px;
  
  /* display:flex;
  
  align-items: center; */
  /* height:100%; */
}

.Hoverbar a {
  color: rgb(250, 217, 204);
}
nav li:hover .Hoverbar,
.Hoverbar:hover {
  display: block;
}

nav >li{
  /* padding-top: 2.5%;
  box-sizing: border-box; */
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav >li:hover{
  background-color: red;
}
nav >li a,nav >li a:hover{
color: aliceblue;
}
